<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/07a94ed9-0d28-4c4a-b159-69837061294d/resourcegroups/MSIT121Team/providers/Microsoft.Web/sites/WebClass20190508034010</ResourceId>
    <ResourceGroup>MSIT121Team</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webclass20190508034010.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webclass20190508034010.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebClass20190508034010</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebClass20190508034010</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AOnlineClassEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=msit121team.database.windows.net;Initial Catalog=AOnlineClass0508;Persist Security Info=True;User ID=MSIT121admin;Password=9#7zCL5sT5" Name="Data Source=msit121team.database.windows.net;Initial Catalog=AOnlineClass0508;Persist Security Info=True;User ID=MSIT121admin;Password=9#7zCL5sT5;MultipleActiveResultSets=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebClass.Models.AOnlineClassEntities, WebClass" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AOnlineClassEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.WebClassModel.csdl|res://*/Models.WebClassModel.ssdl|res://*/Models.WebClassModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=msit121team.database.windows.net;Initial Catalog=AOnlineClass0508;Persist Security Info=True;User ID=MSIT121admin;Password=9#7zCL5sT5;MultipleActiveResultSets=true"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>