<div class="col-xl mr-2  bg-primary" style="border-radius:20px;">
    <h2 class="my-5 text-center" style="color:black; font-size:180%">管理功能列表</h2>
    <div class="list-group my-5 ">
        <a href="~/User/Administrator" class="list-group-item list-group-item-action text-center">
            <h3 style="font-size:150%">管理員首頁</h3>
        </a>
        <a href="~/User/AlluserInfo" class="list-group-item list-group-item-action text-center">
            <h3 style="font-size:150%">會員資料</h3>
        </a>
        <a href="~/User/ClassCheck" class="list-group-item list-group-item-action text-center">
            <h3 style="font-size:150%">待審課程</h3>
        </a>
        <a href="~/User/AllPassedClass" class="list-group-item list-group-item-action text-center">
            <h3 style="font-size:150%">合格課程</h3>
        </a>
        <a href="~/User/AllFailedClass" class="list-group-item list-group-item-action text-center">
            <h3 style="font-size:150%">不合格課程</h3>
        </a>
        <a href="~/User/AllHavingClass" class="list-group-item list-group-item-action text-center">
            <h3 style="font-size:150%">已開始上課</h3>
        </a>
        <a href="~/M_Report/Index" class="list-group-item list-group-item-action text-center">
            <h3 style="font-size:140%">檢舉事件一覽</h3>
        </a>
    </div>
    <input type="button" class="btn btn-light" id="recommendation" value="智慧推薦課程" />

</div>