@model WebClass.Models.C_Class
@{
    ViewBag.Title = "ApplicantInfo";
}
<div class="container" style="margin-top:5%">
    <h2>申請資訊</h2>

    <div>
        <div class="row">
            <div class="container">
                <h2 class="badge-warning">申請人資訊</h2>
            </div>
        </div>
    </div>
    
    @*課程內容物頭*@
    <div class="proposal-video-container">
        <div class="course-bg">
            <div class="cover-image"></div>
        </div>
        <div class="section">

            <h1 class="course-title ">申請人:@Html.DisplayFor(c => c.U_User.UserName)</h1>
            @*<h1 class="course-title ">會員專長: 我的專長</h1>*@
            <h1 class="course-title ">會員電話:@Html.DisplayFor(c => c.U_User.Phone)</h1>
            <h1 class="course-title ">會員信箱:@Html.DisplayFor(c => c.U_User.Email)</h1>
            <h1 class="course-title ">會員層級:@Html.DisplayFor(c => c.U_User.U_Permission.PermissionTypeName)</h1>

        </div>
    </div>
    @*課程內容物尾*@
</div>










